.tile.tile-2 .tile-inner {
    color: rgba(0, 0, 0, 0);
    background-image: url("2.jpeg");
    background-size: contain;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0), inset 0 0 0 1px rgba(255, 255, 255, 0); }
  .tile.tile-4 .tile-inner {
    color: rgba(0, 0, 0, 0);
    background-image: url("4.jpeg");
    background-size: contain;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0), inset 0 0 0 1px rgba(255, 255, 255, 0); }
  .tile.tile-8 .tile-inner {
    color: rgba(0, 0, 0, 0);
    background-image: url("8.jpeg");
    background-size: contain; }
  .tile.tile-16 .tile-inner {
    color: rgba(0, 0, 0, 0);
    background-image: url("16.jpeg"); 
    background-size: contain; }
  .tile.tile-32 .tile-inner {
    color: rgba(0, 0, 0, 0);
    background-image: url("32.jpeg"); 
    background-size: contain; }
  .tile.tile-64 .tile-inner {
    color: rgba(0, 0, 0, 0);
    background-image: url("64.jpeg"); 
    background-size: contain; }
  .tile.tile-128 .tile-inner {
    color: rgba(0, 0, 0, 0);
    background-image: url("128.jpeg");
    background-size: contain;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.2381), inset 0 0 0 1px rgba(255, 255, 255, 0.14286);
    font-size: 45px; }
    @media screen and (max-width: 520px) {
      .tile.tile-128 .tile-inner {
        font-size: 25px; } }
  .tile.tile-256 .tile-inner {
    color: rgba(0, 0, 0, 0);
    background-image: url("256.jpeg");
    background-size: contain;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.31746), inset 0 0 0 1px rgba(255, 255, 255, 0.19048);
    font-size: 45px; }
    @media screen and (max-width: 520px) {
      .tile.tile-256 .tile-inner {
        font-size: 25px; } }
  .tile.tile-512 .tile-inner {
    color: rgba(0, 0, 0, 0);
    background-image: url("512.jpeg");
    background-size: contain;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.39683), inset 0 0 0 1px rgba(255, 255, 255, 0.2381);
    font-size: 45px; }
    @media screen and (max-width: 520px) {
      .tile.tile-512 .tile-inner {
        font-size: 25px; } }
  .tile.tile-1024 .tile-inner {
    color: rgba(0, 0, 0, 0);
    background-image: url("1024.jpeg");
    background-size: contain;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.47619), inset 0 0 0 1px rgba(255, 255, 255, 0.28571);
    font-size: 35px; }
    @media screen and (max-width: 520px) {
      .tile.tile-1024 .tile-inner {
        font-size: 15px; } }
  .tile.tile-2048 .tile-inner {
    color: rgba(0, 0, 0, 0);
    background-image: url("2048.jpeg");
    background-size: contain;  
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.55556), inset 0 0 0 1px rgba(255, 255, 255, 0.33333);
    font-size: 35px; }
    @media screen and (max-width: 520px) {
      .tile.tile-2048 .tile-inner {
        font-size: 15px; } }
